body {
    background-color: #ffffff;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    color:deepskyblue;
    font-size:150%;
}

h1 {
    font-size:200%;
    font-weight:bold;
}

p {}

table {
    margin: 50px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid
}

td {
    font-size:150%;
    text-align:left;
}

th, td {
    padding: 5px;
}

.tableHeader {
    font-weight: bold;
}

.centerData {
    text-align:center;
}

.inputText {
  width: 100px;
}
