body {
    background-color: black;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:springgreen;
}

h1 {
    font-size:200%;
    font-weight:bold;
}

p {}

table {
    margin: 50px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid
}

td {
    font-size:150%;
    text-align:left;
}

th, td {
    padding: 5px;
}

.tableHeader {
    font-weight: bold;
}

.centerData {
    text-align:center;
}
